<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>课程</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <link rel="stylesheet" type="text/css" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="/css/comm.css">
  <link rel="stylesheet" type="text/css" href="/css/courselist.css">
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
</head>
<body>
	<header>
		<a class="backhost" href="javascript:window.history.go(-1);"><img src="/images/common/nav_btn_back@3x.png" alt=""></a>
		<p>课程</p>
		<!-- <div class="qrscan"><img src="/images/home/home_btn_scan@3x.png"></div> -->
	</header>
	<div class="weui-flex courselist">
	    <div class="weui-flex__item"><a href="courseinfo"><img src="/images/course/btn_course_bian@3x.png"></a></div>
	    <div class="weui-flex__item"><a href="courseinfo"><img src="/images/course/btn_course_chuan@3x.png"></a></div>
	</div>
	<div class="weui-flex courselist">
	    <div class="weui-flex__item"><a href="#"><img src="/images/course/btn_course_kan@3x.png"></a></div>
	    <div class="weui-flex__item"><a href="#"><img src="/images/course/btn_course_shi@3x.png"></a></div>
	</div>
	<div class="weui-flex courselist">
	    <div class="weui-flex__item"><a href="#"><img src="/images/course/btn_course_wen@3x.png"></a></div>
	    <div class="weui-flex__item"><a href="#"><img src="/images/course/btn_course_yan@3x.png"></a></div>
	</div>
	<div class="weui-tab footer">
		<div class="weui-tab__panel">
		</div>
		<div class="weui-tabbar">
			<a href="home" class="weui-tabbar__item">
				<img src="/images/tabbar/tab_home_normal@3x.png" alt="" class="weui-tabbar__icon">
				<p class="weui-tabbar__label">首页</p>
			</a>
			<a href="course" class="weui-tabbar__item">
				<img src="/images/tabbar/tab_course_normal@3x.png" alt="" class="weui-tabbar__icon">
				<p class="weui-tabbar__label">课程</p>
			</a>
			<a href="javascript:;" class="weui-tabbar__item">
				<img src="/images/tabbar/tab_sign_normal@3x.png" alt="" class="weui-tabbar__icon">
				<p class="weui-tabbar__label">签到</p>
			</a>
			<a href="javascript:;" class="weui-tabbar__item">
				<img src="/images/tabbar/tab_activity_normal@3x.png" alt="" class="weui-tabbar__icon">
				<p class="weui-tabbar__label">活动</p>
			</a>
			<a href="mine" class="weui-tabbar__item">
				<img src="/images/tabbar/tab_me_normal@3x.png" alt="" class="weui-tabbar__icon">
				<p class="weui-tabbar__label">我</p>
			</a>
		</div>
	</div>
	<script>
		var banner = new Swiper('.banner');
		var typeone = new Swiper('.typeone', {
			slidesPerView: 3,
			spaceBetween: 10,
			freeMode: true
		});
		$('.qrscan').on('click', () => {
			console.log('fkfshfh')
		})
	</script>
</body>
</html>
