<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>走近中医药</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <link rel="stylesheet" type="text/css" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="/css/comm.css">
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
</head>
<body>
	<header>
		<a class="backhost" href="javascript:window.history.go(-1);"><img src="/images/common/nav_btn_back@3x.png" alt=""></a>
		<p>走近中医药</p>
		<div class="qrscan"><img src="/images/home/home_btn_scan@3x.png"></div>
	</header>
	<div class="swiper-container banner">
		<div class="swiper-wrapper">
			<div class="swiper-slide"><img src="/images/home/home_banner1@3x.png"></div>
			<div class="swiper-slide"><img src="/images/home/home_banner2@3x.png"></div>
			<div class="swiper-slide"><img src="/images/home/home_banner3@3x.png"></div>
		</div>
	</div>
	<div class="lineone"></div>
	<div class="typetitle">
		<h2>中医药文化</h2>
		<a class="typemore" href="course">查看全部</a>
	</div>
	<div class="swiper-container typeone">
		<div class="swiper-wrapper">
			<div class="swiper-slide"><img src="/images/home/home_pic_culture01@3x.png"><p>本草纲目</p></div>
			<div class="swiper-slide"><img src="/images/home/home_pic_culture02@3x.png"><p>五禽戏</p></div>
			<div class="swiper-slide"><img src="/images/home/home_pic_culture03@3x.png"><p>李时珍</p></div>
			<div class="swiper-slide"><img src="/images/home/home_pic_culture01@3x.png"><p>本草纲目</p></div>
			<div class="swiper-slide"><img src="/images/home/home_pic_culture02@3x.png"><p>五禽戏</p></div>
			<div class="swiper-slide"><img src="/images/home/home_pic_culture03@3x.png"><p>李时珍</p></div>
		</div>
	</div>
	<div class="lineone"></div>
	<div class="typetitle">
		<h2>中医药知识</h2>
		<a class="typemore" href="course">查看全部</a>
	</div>
	<div class="swiper-container typeone">
		<div class="swiper-wrapper">
			<div class="swiper-slide"><img src="/images/home/home_pic_knowledge01@3x.png"><p>郁金</p></div>
			<div class="swiper-slide"><img src="/images/home/home_pic_knowledge02@3x.png"><p>莺尾</p></div>
			<div class="swiper-slide"><img src="/images/home/home_pic_knowledge03@3x.png"><p>紫苏</p></div>
			<div class="swiper-slide"><img src="/images/home/home_pic_knowledge01@3x.png"><p>郁金</p></div>
			<div class="swiper-slide"><img src="/images/home/home_pic_knowledge02@3x.png"><p>莺尾</p></div>
			<div class="swiper-slide"><img src="/images/home/home_pic_knowledge03@3x.png"><p>紫苏</p></div>
		</div>
	</div>
	<div class="lineone"></div>
	<div class="typetitle">
		<h2>四季养生</h2>
		<a class="typemore" href="course">查看全部</a>
	</div>
	<div class="swiper-container typeone">
		<div class="swiper-wrapper">
			<div class="swiper-slide"><img src="/images/home/home_pic_food01@3x.png"><p>红豆薏米粥</p></div>
			<div class="swiper-slide"><img src="/images/home/home_pic_food02@3x.png"><p>萝卜炖牛肉</p></div>
			<div class="swiper-slide"><img src="/images/home/home_pic_food03@3x.png"><p>玉米当归汤</p></div>
			<div class="swiper-slide"><img src="/images/home/home_pic_food01@3x.png"><p>红豆薏米粥</p></div>
			<div class="swiper-slide"><img src="/images/home/home_pic_food02@3x.png"><p>萝卜炖牛肉</p></div>
			<div class="swiper-slide"><img src="/images/home/home_pic_food03@3x.png"><p>玉米当归汤</p></div>
		</div>
	</div>
	<div class="weui-tab footer">
		<div class="weui-tab__panel">
		</div>
		<div class="weui-tabbar">
			<a href="home" class="weui-tabbar__item">
				<img src="/images/tabbar/tab_home_normal@3x.png" alt="" class="weui-tabbar__icon">
				<p class="weui-tabbar__label">首页</p>
			</a>
			<a href="course" class="weui-tabbar__item">
				<img src="/images/tabbar/tab_course_normal@3x.png" alt="" class="weui-tabbar__icon">
				<p class="weui-tabbar__label">课程</p>
			</a>
			<a href="javascript:;" class="weui-tabbar__item">
				<img src="/images/tabbar/tab_sign_normal@3x.png" alt="" class="weui-tabbar__icon">
				<p class="weui-tabbar__label">签到</p>
			</a>
			<a href="javascript:;" class="weui-tabbar__item">
				<img src="/images/tabbar/tab_activity_normal@3x.png" alt="" class="weui-tabbar__icon">
				<p class="weui-tabbar__label">活动</p>
			</a>
			<a href="mine" class="weui-tabbar__item">
				<img src="/images/tabbar/tab_me_normal@3x.png" alt="" class="weui-tabbar__icon">
				<p class="weui-tabbar__label">我</p>
			</a>
		</div>
	</div>
	<script>
		var banner = new Swiper('.banner');
		var typeone = new Swiper('.typeone', {
			slidesPerView: 3,
			spaceBetween: 10,
			freeMode: true
		});
		$('.qrscan').on('click', () => {
			console.log('fkfshfh')
		})
	</script>
</body>
</html>
