<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>登录注册</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <link rel="stylesheet" type="text/css" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
  <p>“走近中医药”开放课程平台</p>
  <a class="weui-btn regs" href="home">登录</a>
  <a class="weui-btn logins" href="home">注册</a>
</body>
</html>
