<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ css('style') }}
</head>
<body>
	<script type="text/javascript">
		setTimeout(()=>{
			window.location.href = 'index'
		},5000)
	</script>
</body>
</html>
