html, body {
  height: 100%;
  width: 100%;
}

body {
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
}

section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 536px;
  margin: auto;
  position: relative;
}

.slideuphtml {
  animation: slideup 1s cubic-bezier(0.19, 1, 0.30, 1) 0.2s forwards;
}

@keyframes slideup {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  50% {
    opacity: 0.2%;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
